<section>
    <h2>Services We Provide</h2>
    <h3>Residential Exterior</h3>
    <p>Our goal for exterior projects is longevity. We have trained and experienced painters whom pay close attention to detail, ensure thorough application of paint, use caulk sealant accurately, and accurately prepare all surfaces painted and unpainted. We will provide you any and all information needed to make informed decisions regarding your colors and materials.</p>
    <h3>Residential Interior</h3>
    <p>Your home is your sanctuary and we respect that. Every part of every project will be handled with integrity and care. We communicate our process prior to beginning a project, and once it starts, our crew is courteous and meticulous regarding cleanliness, crisp lines, and detail.</p>
    <h3>Commercial</h3>
    <p>If you are a commercial representative, please contact us to speak further. We are happy to work in the commercial realm and look forward to providing you another option in quality paint contacting.</p>
  </section>