form {
  display: inline;
  margin: 0 !important;
  padding: 0 !important;
  input[type="text"]{
    display: inline;
    border: 0;
    height: 3em;
    width: 30%;
    margin: 0 1em 1em 0;
  }
  textarea {
    border: 0;
    width: 94%;
    margin: 0 0 .8em 0;
  }
  input[type="submit"] {
    background: $red;
    color: $white;
    border: 0;
    height: 3em;
    width: 30%;
    text-transform: uppercase;
  }
  ::-webkit-input-placeholder {
   color: $black;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: $black;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: $black;  
  }
  :-ms-input-placeholder {  
     color: $black;  
  }
}
