header {
  background: url(../assets/img/hero.svg) no-repeat center center;
  background-size: cover;
  min-height: 500px;
  nav {
   @include grid-row;
   ul {
    @include grid-column(8, $center: true);
    list-style: none;
    padding-top: .5em;
    li {
     display: inline;
     padding-right: 1em;
     font-size: 24px;
     font-weight: 200;
    }
   }
   a {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
   }
  }
  img {
   display: block;
   width: 750px;
   padding: 2em 0 4em 0;
   margin: 0 auto;
  }
}
