<footer class="footer">
  <p class="slogan">Finger-lickin' good</p>
  <p class="links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
  </p>
  <p class="copywrite">Copyright not copyright © 2015</p>
</footer>
