<nav>
  <a href="#" class="menu-button" id="menuButton">
   <span class="burger-icon"></span>
  </a>
  <section class="nav-links hidden">
   <ul class="hidden">
    <li><a href="/">Home</a></li>
    <li><a href="#about" data-animate>About</a></li>
    <li><a href="/services.html">Services</a></li>
    <li><a href="/contact.html">Contact Us</a></li>
   </ul>
  </section>
</nav>
